<div class="background">
  <form action="" method="post" [formGroup]="signupForm">
    <h1>Sign Up</h1>
    <div class="form-section">
      <label for="">First Name</label
      ><input type="text" formControlName="firstName" />
    </div>
    <div class="form-section">
      <label for="">Last Name</label
      ><input type="text" formControlName="lastName" />
    </div>
    <div class="form-section">
      <label for="">Username</label
      ><input type="text" formControlName="username" />
    </div>
    <div class="form-section">
      <label for="">Email</label><input type="email" formControlName="email" />
    </div>
    <div class="form-section">
      <label for="">Password</label
      ><input type="password" formControlName="password" />
    </div>
    <div class="form-section">
      <label for="">Confirm Password</label
      ><input type="password" formControlName="confirmPassword" />
      <!-- <small *ngIf="signupForm.get("confirmPassord")?.errors.passwordValidator">Password does not match </small> -->
    </div>
    <div class="form-section">
      <label for="">Phone</label
      ><input type="tel" formControlName="phoneNumber" />
    </div>
    <div class="form-section">
      <label for="">Address</label
      ><input type="text" formControlName="address" />
    </div>
    <input type="submit" value="Sign Up" />
  </form>
</div>
