@import "../../../../styles/variables";
.background {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  form {
    background-color: $primary-color;
    z-index: 500;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    p {
      text-align: center;
      color: #a6a5a5;
      font-size: 14px;
      a {
        text-decoration: none;
        color: $secondary-color;
        &:visited {
          text-decoration: none;
          color: $secondary-color;
        }
      }
    }
    input {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: $background-color;
      color: #fff;
      outline: $secondary-color;
      font-size: 16px;
      transition: all ease-in 0.2s;
      &::placeholder {
        font-weight: 400;
      }
      &:focus {
        border: 1px solid $secondary-color;
      }
    }
    .form-section {
      width: 100%;
      display: flex;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    input[type="submit"] {
      color: #fff;
      border: none;
      background-image: $gradient;
      transition: ease-in-out 0.2s all;
      &:hover {
        background-image: $rev-gradient;
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.7);
      }
    }
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .spinner {
    width: 200px;
    height: 200px;
    border: 8px solid white;
    border-top: 8px solid $secondary-color;
    border-radius: 50%;
    border-left: none;
    background-color: transparent;
    transition: all ease-in;
    animation: spin 3s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.error-message {
  color: #ff0000; 
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
  font-weight: bold; 
  display: block; 
  line-height: 1.2; 
}
