<div class="background">
  <form method="post" [formGroup]="signupForm" (ngSubmit)="signup()">
    <h1 style="text-align: center">Create An Account</h1>
    <p>Already have an account? <a routerLink="/auth/sign-in">Sign In</a></p>
    <div class="form-section">
      <input type="text" formControlName="firstName" placeholder="First Name" />
      <input type="text" formControlName="lastName" placeholder="Last Name" />
    </div>

    <div class="form-section">
      <input type="text" formControlName="username" placeholder="Username" />
    </div>
    <div class="form-section">
      <input type="email" formControlName="email" placeholder="Email Address" />
    </div>
    <div class="form-section">
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      /><input
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />
    </div>
    <small
      *ngIf="
        signupForm.controls['confirmPassword'].touched &&
        passwordValidator(signupForm)
      "
      class="error-message"
      >Passwords do not match</small
    >
    <div class="form-section">
      <input
        type="tel"
        formControlName="phoneNumber"
        placeholder="Phone Number"
      />
      <input type="text" formControlName="address" placeholder="Address" />
    </div>

    <input type="submit" value="Create A New Account" />
  </form>
  <app-toast
    [type]="toastType"
    *ngIf="showToast"
    [message]="toastMessage"
  ></app-toast>
</div>

<div class="loading" *ngIf="isLoading">
  <div class="spinner"></div>
</div>
