@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//colors and gradients
$background-color: #011949;
$primary-color: #01102d;
$secondary-color: #4c2efe;
$gradient: linear-gradient(to right, #4c2efe, #0de0fe);
$rev-gradient: linear-gradient(to right, #0de0fe, #4c2efe);
$grey: #9497ad;

//fonts
$font-family: 'Poppins',sans-serif;