/* You can add global styles to this file, and also import other style files */
@import "./styles/_variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
/* styles.scss */

/* styles.scss */

.background-design {
  background-color: #011949;
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: rgba(76, 46, 254, 0.2);
    border-radius: 50%;
    z-index: 0;
  }

  &:before {
    width: 200px;
    height: 200px;
    top: -100px;
    left: -100px;
  }

  &:after {
    width: 300px;
    height: 300px;
    bottom: -150px;
    right: -150px;
  }

  .curve {
    position: absolute;
    z-index: -1;
    background: rgba(76, 46, 254, 0.2);
    width: 200px;
    height: 200px;
    border: 2px solid rgba(76, 46, 254, 0.2);
    border-radius: 50%;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}
